<div class="bg-slate-300 h-full min-h-[100vh]">
  <ul class="mx-5 my-10 fixed top-0 left-0">
    <li>
      <a
        class="p-3 my-2 font-semibold text-lg duration-150 hover:bg-white rounded-lg block"
        routerLink="/admin/products"
      >
        <i class="fa-solid mr-1 fa-list"></i> Product manager
      </a>
    </li>
    <li>
      <a
        class="p-3 my-2 font-semibold text-lg duration-150 hover:bg-white rounded-lg block"
        routerLink="/admin/products/add"
      >
        <i class="fa-solid mr-1 fa-square-plus"></i> Add product
      </a>
    </li>
    <li (click)="onLogOut()">
      <button
        class="p-3 my-2 font-semibold text-lg duration-150 hover:bg-white rounded-lg block w-full text-left"
      >
        <i class="fa-solid fa-right-from-bracket"></i> Log out
      </button>
    </li>
    <li>
      <a
        class="p-3 my-2 font-semibold text-lg duration-150 hover:bg-white rounded-lg block"
        routerLink="/"
      >
        <i class="fa-solid mr-1 fa-house"></i> Back to homepage
      </a>
    </li>
  </ul>
</div>
